aside img{
    width:100%;
    min-height:300px;
}
aside a{
    color:#000; 
}
.primary-img{
    margin-bottom: 50px;
}
.sidebar{
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}
.iframe-wrapper{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}
aside iframe, .cat-list{
    height:100%;
    min-height:300px!important;
    width: 100%;
    position:relative;
    
}
aside li{
    margin:30px 0;
}


.blog_left_sidebar{
    background-color:#ffffff;
    padding:30px;
}


@media(max-width:768px){
    .cat-list li > p{
        margin:15px 0;
    }
}
@media(max-width:576px){
    .iframe-wrapper{
        max-height:none!important;
    }
}