/*

**  Specifically for Resources Page 
**
*/
main {
  padding: 50px 0;
  position: relative;
}
.banner-wrapper {
  height: 100%;
  max-height: 450px;
}
.banner-wrapper img {
  height: 400px;
  object-fit: cover;
}
.banner-wrapper h3 {
  margin: 20px 0;
}

.col-md-6 .cards {
  height: 100%;
  width: 100%;
  max-height: 360px;
  margin-bottom: 10px;
}
.col-md-6 iframe {
  max-height: 360px;
  min-height: 360px;
  width: 100%;
  margin-bottom: 10px;
}

.col-md-6 a {
  color: #000;
}

.col-md-6 {
  margin: 30px 0;
}

@media (max-width: 576px) {
  .col-md-6 {
    margin: 10px 0;
  }
  .banner-wrapper,
  .col-md-6 img {
    max-height: none;
  }
  .banner-wrapper img,
  .col-md-6 img {
    height: auto !important;
  }
  .col-md-6 iframe {
    min-height: 0;
    height: 100%;
    padding-top: 70px;
  }
  .video-grid {
    padding-bottom: 50px;
  }
}
